# Source files
src/
tsconfig.json
.git/
.github/
tests/
examples/
coverage/
docker/

# Development tools
ts-node/
node_modules/

# Logs and temp
*.log
.DS_Store
dist/tsconfig.tsbuildinfo
.vscode/

.gitignore
jest.config.ts
.dockerignore
dockerfile
.prettierrc
.eslint.config.mjs
.github/