<h1>{{title}}</h1>

{{#each products}}
<li>
    <strong>{{upper this.name}}</strong> - {{this.price}}
    {{#if this.inStock}}
    <span class="badge">En stock</span>
    {{else}}
    <span class="badge">Agotado</span>
    {{/if}}
</li>
{{/each}}
{{#if title}}
<strong><p>Hola soy un titulo {{lower title}}</p></strong>
{{else}}
<p>No hay titulo a</p>
{{/if}}

<img src="http://127.0.0.1:3000/static/G76hj8zXIAE8AAq.png" alt="" srcset="">

<script src="http://localhost:3000/static/script.js"></script>